@font-face {
    font-family: 'noto_sans_scbold';
    src: url('notosanssc-bold-webfont.woff2') format('woff2'),
         url('notosanssc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}